*{
    margin: none;
    padding: none;
}

body{
    background-image: linear-gradient(to left, rgb(56, 55, 55), rgb(0, 0, 0));
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

div.Calculator{
    position: absolute;
    background-color: rgb(20, 19, 19);
    border-radius: 7px;
    width: 20%;
    height: 52%;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px black;
      
}

.buttons{
    position:relative;
    background-color: black;
    color: white;
    border: 1px black;
    font-size: 25px;
    text-align: center;
    width: 20%;
    height: 13%;
    cursor: pointer;
    align-items: center;
    top: 0%;
    left: 7.6%;
}

div.Calculator > #zero{
    position: relative;
    width: 42%;
    top:0%;
}

div.Calculator > #point{
    position:relative;
    display: flex;
    left: 48.5%;
    width: 21.8%;
    top:-13%;
}

div.Calculator > #result{
    position:absolute;
    display: flex;
    height: 26%;
    left: 72%;
    top:68.5%;
    background-color: rgb(114, 46, 177);
    
}

div.Calculator > #history{
    position: relative;
    display:flex;
    background-color: transparent;
    width: 12%;
    height: 10%;
    left: 12%;
    top:-89%;
    filter: invert(100%)
    
}

div.Calculator > #scientific{
    position: relative;
    display: flex;
    background-color: transparent;
    width: 10%;
    height: 8%;
    left: 34%;
    top: -98%;
    filter: invert(100%)

}

.displaytext{
    position: relative;
    display:flex;
    width: 70%;
    height: 50px;
    top: 18px;
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
}

div.Calculator > #ac{
    display: flex;
    position: relative;
    width: 22%;
    height: 12%;
    top: -7.8%;
    left: 74%;
    background-color: rgb(124, 40, 40);
    
}

/*responsive formatation layout for mobile (768)*/
@media screen and (max-width: 768px){
    div.Calculator{
        width:fit-content;
        height: 55%;
      
}

div.Calculator > #ac{
    left: 74.5%;
    
}

div.Calculator > #result{
    left: 72.8%;
}

div.Calculator > #point{
    left: 49.5%;

}
}


